@import "tailwindcss";

@layer base {
	body {
		@apply bg-stone-950 text-gray-50;
		width: 100vw;
		height: 100vh;
	}
}

@layer components {
	.WidgetGrid {
		@apply w-full h-full grid grid-rows-[auto_1fr_auto] grid-cols-6 px-[12%] py-[8%] gap-2;
	}

	.HeaderWidget {
		@apply col-span-full text-3xl text-center;
	}

	.TransitWidget {
		@apply col-span-3 flex flex-col justify-center border rounded-lg bg-stone-900 border-stone-700;
	}

	.SpotifyWidget {
		@apply col-span-3 border rounded-lg bg-stone-900 border-stone-700;
	}

	.TasksWidget {
		@apply col-span-full;
	}
}